openapi: 3.0.2
info:
  title: REST api to gas less TRON service
  version: 2.0.0
  description: Service to publish TRON transactions
  contact:
    name: Support
    email: support@tonkeeper.com
servers:
  - url: "https://tron.tonkeeper.com"
  - url: "https://testnet-tron.tonkeeper.com"
  - url: "http://localhost:5500"
paths:
  /v2/settings:
    get:
      description: Get network configuration
      operationId: getSettings
      tags:
        - Tron
      responses:
        '200':
          description: block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'


  /v2/wallet/{owner_address}:
    get:
      description: Get user wallet address data
      operationId: getWallet
      tags:
        - Tron
      parameters:
        - $ref: '#/components/parameters/ownerAddressParameter'
      responses:
        '200':
          description: block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /v2/balance/{wallet_address}:
    get:
      description: Get wallet balance
      operationId: getWalletBalance
      tags:
        - Tron
      parameters:
        - $ref: '#/components/parameters/walletAddressParameter'
      responses:
        '200':
          description: block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /v2/transactions/{transaction_hash}:
    get:
      description: Get transaction data
      operationId: getTransaction
      tags:
        - Tron
      parameters:
        - $ref: '#/components/parameters/transactionHashParameter'
      responses:
        '200':
          description: block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /v2/wallet/{owner_address}/transactions:
    get:
      description: Get list of transactions
      operationId: getTransactions
      tags:
        - Tron
      parameters:
        - $ref: '#/components/parameters/ownerAddressParameter'
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            maximum: 200
            default: 100
            example: 15
        - name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
            example: 10
        - name: min_timestamp
          in: query
          schema:
            type: integer
            format: int32
            default: 0
        - name: max_timestamp
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /v2/wallet/{owner_address}/estimate:
    post:
      description: Get transaction estimate
      operationId: getEstimation
      tags:
        - Tron
      parameters:
        - $ref: '#/components/parameters/ownerAddressParameter'
      requestBody:
        $ref: "#/components/requestBodies/Boc"
      responses:
        '200':
          description: block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /v2/wallet/{owner_address}/publish:
    post:
      description: Publish transaction
      operationId: publishTransaction
      tags:
        - Tron
      parameters:
        - $ref: '#/components/parameters/ownerAddressParameter'
      requestBody:
        $ref: "#/components/requestBodies/Boc"
      responses:
        '200':
          description: block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  parameters:
    ownerAddressParameter:
      in: path
      name: owner_address
      required: true
      description: owner address
      schema:
        type: string
        example: TK11GsFSR7uDSA7ZNFCb6Xq6d5drUB6R7n
    walletAddressParameter:
      in: path
      name: wallet_address
      required: true
      description: wallet address
      schema:
        type: string
        example: TK11GsFSR7uDSA7ZNFCb6Xq6d5drUB6R7n
    transactionHashParameter:
      in: path
      name: transaction_hash
      required: true
      description: transaction hash
      schema:
        type: string
        example: d5d6023273fb6488b4a21cb405fd2048e73b508947021554ffd34e36a5051a18

  requestBodies:
    MethodParameters:
      description: input parameters for contract get method
      content:
        application/json:
          schema:
            type: object
    Boc:
      description: bag-of-cells serialized to base64
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - boc
            properties:
              boc:
                type: string
                example: te6ccgECBQEAARUAAkWIAWTtae+KgtbrX26Bep8JSq8lFLfGOoyGR/xwdjfvpvEaHg
    AccountIds:
      description: a list of account ids
      content:
        application/json:
          schema:
            type: object
            required:
              - account_ids
            properties:
              account_ids:
                type: array
                items:
                  type: string
                  example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    TonConnectProof:
      description: "Data that is expected from TON Connect"
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - address
              - proof
            properties:
              address:
                type: string
                example: "0:97146a46acc2654y27947f14c4a4b14273e954f78bc017790b41208b0043200b"
              proof:
                type: object
                required:
                  - timestamp
                  - domain
                  - signature
                  - payload
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    example: "1678275313"
                  domain:
                    type: object
                    required:
                      - value
                    properties:
                      length_bytes:
                        type: integer
                        format: uint32
                      value:
                        type: string
                  signature:
                    type: string
                  payload:
                    type: string
                    example: "84jHVNLQmZsAAAAAZB0Zryi2wqVJI-KaKNXOvCijEi46YyYzkaSHyJrMPBMOkVZa"
                  state_init:
                    type: string
    Backup:
      description: "Information for saving backup"
      required: true
      content:
        application/octet-stream:
          schema:
            type: string
            format: binary
    TonConnectStateInit:
      description: "Data that is expected"
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - state_init
            properties:
              state_init:
                type: string
    LiteServerSendMessageRequest:
      description: "Data that is expected"
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - body
            properties:
              body:
                type: string

  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          example: error description

    AccountAddress:
      type: object
      required:
        - address
        - is_scam
      properties:
        address:
          type: string
          example: 0:10C1073837B93FDAAD594284CE8B8EFF7B9CF25427440EB2FC682762E1471365
        name:
          type: string
          example: Ton foundation
          description: Display name. Data collected from different sources like moderation lists, dns, collections names and over.
        is_scam:
          type: boolean
          example: true
          description: Is this account was marked as part of scammers activity
        icon:
          type: string
          example: https://ton.org/logo.png

    Block:
      type: object
      required:
        - workchain_id
        - shard
        - seqno
        - root_hash
        - file_hash
        - global_id
        # ValueFlow pgtype.JSONB
        - version
        - after_merge
        - before_split
        - after_split
        - want_split
        - want_merge
        - key_block
        - gen_utime
        - start_lt
        - end_lt
        - vert_seqno
        - gen_catchain_seqno
        - min_ref_mc_seqno
        - prev_key_block_seqno
        - prev_refs
        - in_msg_descr_length
        - out_msg_descr_length
        - rand_seed
        - created_by

      properties:
        workchain_id:
          type: integer
          example: 0
          format: int32
        shard:
          type: string
          example: 8000000000000000
        seqno:
          type: integer
          example: 21734019
          format: int32
        root_hash:
          type: string
          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        file_hash:
          type: string
          example: A6A0BD6608672B11B79538A50B2204E748305C12AA0DED9C16CF0006CE3AF8DB
        global_id:
          type: integer
          example: -239
          format: int32
        version:
          type: integer
          example: 0
          format: int32
        after_merge:
          type: boolean
          example: true
        before_split:
          type: boolean
          example: true
        after_split:
          type: boolean
          example: true
        want_split:
          type: boolean
          example: true
        want_merge:
          type: boolean
          example: true
        key_block:
          type: boolean
          example: true
        gen_utime:
          type: integer
          format: int64
          example: 1674826775
        start_lt:
          type: integer
          format: int64
          example: 23814011000000
        end_lt:
          type: integer
          format: int64
          example: 23814011000001
        vert_seqno:
          type: integer
          example: 0
          format: int32
        gen_catchain_seqno:
          type: integer
          example: 0
          format: int32
        min_ref_mc_seqno:
          type: integer
          example: 0
          format: int32
        prev_key_block_seqno:
          type: integer
          example: 0
          format: int32
        gen_software_version:
          type: integer
          example: 0
          format: int32
        gen_software_capabilities:
          type: integer
          format: int64
          example: 0
        master_ref:
          type: string
          example: (-1,4234234,8000000000000000)
        prev_refs:
          type: array
          items:
            type: string
            example: [ (-1,4234235,8000000000000000) ]
        in_msg_descr_length:
          type: integer
          format: int64
          example: 0
        out_msg_descr_length:
          type: integer
          format: int64
          example: 0
        rand_seed:
          type: string
          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        created_by:
          type: string
          example: A6A0BD6608672B11B79538A50B2204E748305C12AA0DED9C16CF0006CE3AF8DB

    AccountStatus:
      type: string
      example: active
      enum:
        - nonexist
        - uninit
        - active
        - frozen

    StateInit:
      type: object
      required:
        - boc
      properties:
        boc:
          type: string
          example: te6ccgEBBgEARAABFP8A9KQT9LzyyAsBAgEgAgMCAUgEBQAE8jAAONBsIdMfMO1E0NM/MAHAAZekyMs/ye1UkzDyBuIAEaE0MdqJoaZ+YQ==

    Message:
      type: object
      required:
        - created_lt
        - ihr_disabled
        - bounce
        - bounced
        - value
        - fwd_fee
        - ihr_fee
        - import_fee
        - created_at
        - decoded_body
      properties:
        created_lt:
          type: integer
          format: int64
          example: 25713146000001
        ihr_disabled:
          type: boolean
          example: true
        bounce:
          type: boolean
          example: true
        bounced:
          type: boolean
          example: true
        value:
          type: integer
          format: int64
          example: 60000000
        fwd_fee:
          type: integer
          format: int64
          example: 5681002
        ihr_fee:
          type: integer
          format: int64
          example: 5681002
        destination:
          $ref: '#/components/schemas/AccountAddress'
        source:
          $ref: '#/components/schemas/AccountAddress'
        import_fee:
          type: integer
          format: int64
          example: 5681002
        created_at:
          type: integer
          format: int64
          example: 5681002
        op_code:
          type: string
          example: "0xdeadbeaf"
        init:
          $ref: '#/components/schemas/StateInit'
        raw_body:
          type: string
          description: hex-encoded BoC with raw message body
          example: "B5EE9C7201010101001100001D00048656C6C6F2C20776F726C64218"
        decoded_op_name:
          type: string
          example: "nft_transfer"
        decoded_body: { } # Free-form JSON value

    TransactionType:
      type: string
      example: TransOrd
      enum:
        - TransOrd
        - TransTickTock
        - TransSplitPrepare
        - TransSplitInstall
        - TransMergePrepare
        - TransMergeInstall
        - TransStorage

    AccStatusChange:
      type: string
      example: acst_unchanged
      enum:
        - acst_unchanged
        - acst_frozen
        - acst_deleted

    ComputeSkipReason:
      type: string
      example: cskip_no_state
      enum:
        - cskip_no_state
        - cskip_bad_state
        - cskip_no_gas

    BouncePhaseType:
      type: string
      example: cskip_no_state
      enum:
        - TrPhaseBounceNegfunds
        - TrPhaseBounceNofunds
        - TrPhaseBounceOk

    ComputePhase:
      type: object
      required:
        - skipped
      properties:
        skipped:
          type: boolean
          example: true
        skip_reason:
          $ref: '#/components/schemas/ComputeSkipReason'
        success:
          type: boolean
          example: true
        gas_fees:
          type: integer
          format: int64
          example: 1000
        gas_used:
          type: integer
          format: int64
          example: 10000
        vm_steps:
          type: integer
          format: uint32
          example: 5
        exit_code:
          type: integer
          format: int32
          example: 0

    StoragePhase:
      type: object
      required:
        - fees_collected
        - status_change
      properties:
        fees_collected:
          type: integer
          format: int64
          example: 25713146000001
        fees_due:
          type: integer
          format: int64
          example: 25713146000001
        status_change:
          $ref: '#/components/schemas/AccStatusChange'

    CreditPhase:
      type: object
      required:
        - fees_collected
        - credit
      properties:
        fees_collected:
          type: integer
          format: int64
          example: 100
        credit:
          type: integer
          format: int64
          example: 1000

    ActionPhase:
      type: object
      required:
        - success
        - total_actions
        - skipped_actions
        - fwd_fees
        - total_fees
      properties:
        success:
          type: boolean
          example: true
        total_actions:
          type: integer
          format: int32
          example: 5
        skipped_actions:
          type: integer
          format: int32
          example: 5
        fwd_fees:
          type: integer
          format: int64
          example: 1000
        total_fees:
          type: integer
          format: int64
          example: 1000

    Transaction:
      type: object
      required:
        - hash
        - lt
        - account
        - success
        - utime
        - orig_status
        - end_status
        - total_fees
        - transaction_type
        - state_update_old
        - state_update_new
        - out_msgs
        - block
        - aborted
        - destroyed
      properties:
        hash:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        lt:
          type: integer
          format: int64
          example: 25713146000001
        account:
          $ref: '#/components/schemas/AccountAddress'
        success:
          type: boolean
          example: true
        utime:
          type: integer
          format: int64
          example: 1645544908
        orig_status:
          $ref: '#/components/schemas/AccountStatus'
        end_status:
          $ref: '#/components/schemas/AccountStatus'
        total_fees:
          type: integer
          format: int64
          example: 25713146000001
        transaction_type:
          $ref: '#/components/schemas/TransactionType'
        state_update_old:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        state_update_new:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        in_msg:
          $ref: '#/components/schemas/Message'
        out_msgs:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        block:
          type: string
          example: (-1,4234234,8000000000000000)
        prev_trans_hash:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        prev_trans_lt:
          type: integer
          format: int64
          example: 25713146000001
        compute_phase:
          $ref: '#/components/schemas/ComputePhase'
        storage_phase:
          $ref: '#/components/schemas/StoragePhase'
        credit_phase:
          $ref: '#/components/schemas/CreditPhase'
        action_phase:
          $ref: '#/components/schemas/ActionPhase'
        bounce_phase:
          $ref: '#/components/schemas/BouncePhaseType'
        aborted:
          type: boolean
          example: true
        destroyed:
          type: boolean
          example: true

    Transactions:
      type: object
      required:
        - transactions
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    ValidatorsSet:
      type: object
      required:
        - utime_since
        - utime_until
        - total
        - main
        - list
      properties:
        utime_since:
          type: integer
        utime_until:
          type: integer
        total:
          type: integer
        main:
          type: integer
        total_weight:
          type: integer
        list:
          type: array
          items:
            type: object
            required:
              - public_key
            properties:
              public_key:
                type: string
    Validator:
      type: object
      required:
        - address
      properties:
        address:
          type: string
          example: 0:55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122

    Validators:
      type: object
      required:
        - validators
      properties:
        validators:
          type: array
          items:
            $ref: '#/components/schemas/Validator'

    AccountStorageInfo:
      type: object
      required:
        - used_cells
        - used_bits
        - used_public_cells
        - last_paid
        - due_payment
      properties:
        used_cells:
          type: integer
          format: int64
          example: 567
        used_bits:
          type: integer
          format: int64
          example: 567
        used_public_cells:
          type: integer
          format: int64
          example: 567
        last_paid:
          type: integer
          format: int64
          example: 567
        due_payment:
          type: integer
          format: int64
          example: 567
    RawAccount:
      type: object
      required:
        - address
        - balance
        - status
        - last_transaction_lt
        - storage
      properties:
        address:
          type: string
          example: 0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf
        balance:
          type: integer
          format: int64
          example: 123456789
        extra_balance:
          type: object
          additionalProperties:
            type: string
        code:
          type: string
          example: b5ee9c72410104010087000114ff00f4a413f4a0f2c80b0102012002030002d200dfa5ffff76a268698fe9ffe8e42c5267858f90e785ffe4f6aa6467c444ffb365ffc10802faf0807d014035e7a064b87d804077e7857fc10803dfd2407d014035e7a064b86467cd8903a32b9ba4410803ade68afd014035e7a045ea432b6363796103bb7b9363210c678b64b87d807d8040c249b3e4
        data:
          type: string
          example: b5ee9c7241010101002600004811fd096c0000000000000000000000000000000000000000000000000000000000000000cb78264d
        last_transaction_lt:
          type: integer
          format: int64
          example: 123456789
        status:
          type: string
          example: active
        storage:
          $ref: '#/components/schemas/AccountStorageInfo'

    Account:
      type: object
      required:
        - address
        - balance
        - status
        - last_activity
        - get_methods
      properties:
        address:
          type: string
          example: 0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf
        balance:
          type: integer
          format: int64
          example: 123456789
        last_activity:
          type: integer
          description: unix timestamp
          format: int64
          example: 123456789
        status:
          type: string
          example: active
        interfaces:
          type: array
          items:
            type: string
            example: nft_sale
        name:
          type: string
          example: "Ton foundation"
        is_scam:
          type: boolean
          example: true
        icon:
          type: string
          example: "https://ton.org/logo.png"
        memo_required:
          type: boolean
          example: true
        get_methods:
          type: array
          items:
            type: string
          example: [ 'get_item_data' ]

    Accounts:
      type: object
      required:
        - accounts
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'

    MethodExecutionResult:
      type: object
      required:
        - success
        - exit_code
        - stack
      properties:
        success:
          type: boolean
          example: true
        exit_code:
          type: integer
          example: 0
          description: tvm exit code
        stack:
          type: array
          items:
            $ref: "#/components/schemas/TvmStackRecord"
        decoded: { } # Free-form JSON value
    TvmStackRecord:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          example: "cell"
          enum:
            - cell
            - num
            - nan
            - "null"
            - tuple
        cell:
          type: string
          example: "te6cckEBAQEAJAAAQ4ARPeUceMlv4l12d6jdLpIzzbAV6amYXNZeZK2aicQdC/Apj8aJ"
        slice:
          type: string
          example: ""
        num:
          type: string
          example: ""
        tuple:
          type: array
          example: [ ]
          items:
            $ref: '#/components/schemas/TvmStackRecord'
    Config:
      type: object
      required:
        - raw
        - "0"
        - "1"
        - "2"
        - "4"
      properties:
        raw:
          type: string
          description: config boc in base64 format
          example: te6ccgEBBgEARAABFP8A9KQT9LzyyAsBAgEgAgMCAUgEBQAE8jAAONBsIdMfMO1E0NM/MAHAAZekyMs/ye1UkzDyBuIAEaE0MdqJoaZ+YQ==
        "0":
          type: string
          description: "config address"
        "1":
          type: string
          description: "elector address"
        "2":
          type: string
          description: "minter address"
        "4":
          type: string
          description: "dns root address"
        "32":
          $ref: '#/components/schemas/ValidatorsSet'
        "33":
          $ref: '#/components/schemas/ValidatorsSet'
        "34":
          $ref: '#/components/schemas/ValidatorsSet'
        "35":
          $ref: '#/components/schemas/ValidatorsSet'
        "36":
          $ref: '#/components/schemas/ValidatorsSet'
        "37":
          $ref: '#/components/schemas/ValidatorsSet'
    DomainNames:
      type: object
      required:
        - domains
      properties:
        domains:
          type: array
          items:
            type: string
            example: vasya.ton

    DomainBid:
      type: object
      required:
        - success
        - value
        - txTime
        - bidder
        - txHash
      properties:
        success:
          type: boolean
          example: true
          default: false
        value:
          type: integer
          format: int64
          example: 1660050553
        txTime:
          type: integer
          format: int64
          example: 1660050553
        txHash:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        bidder:
          $ref: '#/components/schemas/AccountAddress'

    DomainBids:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DomainBid'

    JettonVerificationType:
      type: string
      enum:
        - whitelist
        - blacklist
        - none

    JettonPreview:
      type: object
      required:
        - address
        - name
        - symbol
        - decimals
        - verification
        - image
      properties:
        address:
          type: string
          example: 0:0BB5A9F69043EEBDDA5AD2E946EB953242BD8F603FE795D90698CEEC6BFC60A0
        name:
          type: string
          example: Wrapped TON
        symbol:
          type: string
          example: WTON
        decimals:
          type: integer
          example: 9
        image:
          type: string
          example: https://cache.tonapi.io/images/jetton.jpg
        verification:
          $ref: '#/components/schemas/JettonVerificationType'

    JettonBalance:
      type: object
      required:
        - balance
        - wallet_address
        - jetton
      properties:
        balance:
          type: string
          example: 597968399
        wallet_address:
          $ref: '#/components/schemas/AccountAddress'
        jetton:
          $ref: '#/components/schemas/JettonPreview'

    JettonsBalances:
      type: object
      required:
        - balances
      properties:
        balances:
          type: array
          items:
            $ref: '#/components/schemas/JettonBalance'

    Price:
      type: object
      required:
        - value
        - token_name
      properties:
        value:
          type: string
          example: 123000000000
        token_name:
          type: string
          example: TON

    ImagePreview:
      type: object
      required:
        - resolution
        - url
      properties:
        resolution:
          type: string
          example: "100x100"
        url:
          type: string
          example: "https://site.com/pic1.jpg"

    Sale:
      type: object
      required:
        - address
        - market
        - price
      properties:
        address:
          type: string
          example: 0:10C1073837B93FDAAD594284CE8B8EFF7B9CF25427440EB2FC682762E1471365
        market:
          $ref: '#/components/schemas/AccountAddress'
        owner:
          $ref: '#/components/schemas/AccountAddress'
        price:
          $ref: '#/components/schemas/Price'

    NftItem:
      type: object
      required:
        - address
        - index
        - verified
        - metadata
        - approved_by
      properties:
        address:
          type: string
          example: 0:E93E7D444180608B8520C00DC664383A387356FB6E16FDDF99DBE5E1415A574B
        index:
          type: integer
          format: int64
          example: 58
        owner:
          $ref: '#/components/schemas/AccountAddress'
        collection:
          type: object
          required:
            - address
            - name
          properties:
            address:
              type: string
              example: 0:E93E7D444180608B8520C00DC664383A387356FB6E16FDDF99DBE5E1415A574B
            name:
              type: string
              example: TON Diamonds
        verified:
          type: boolean
          example: true
        metadata:
          type: object
          additionalProperties: true
          example: { }
        sale:
          $ref: '#/components/schemas/Sale'
        previews:
          type: array
          items:
            $ref: '#/components/schemas/ImagePreview'
        dns:
          type: string
          example: crypto.ton
        approved_by:
          type: array
          items:
            type: string
            example: getgems
            enum:
              - getgems
              - tonkeeper
    NftItems:
      type: object
      required:
        - nft_items
      properties:
        nft_items:
          type: array
          items:
            $ref: '#/components/schemas/NftItem'

    Refund:
      type: object
      required:
        - type
        - origin
      properties:
        type:
          type: string
          example: DNS.ton
          enum:
            - DNS.ton
            - DNS.tg
            - GetGems
        origin:
          type: string
          example: "0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf"
    ValueFlow:
      type: object
      required:
        - account
        - ton
        - fees
      properties:
        account:
          $ref: '#/components/schemas/AccountAddress'
        ton:
          type: integer
          format: int64
          example: 80
        fees:
          type: integer
          format: int64
          example: 10
        jettons:
          type: array
          items:
            type: object
            required:
              - account
              - quantity
            properties:
              account:
                $ref: '#/components/schemas/AccountAddress'
              quantity:
                type: integer
                format: int64
                example: 10

    Action:
      type: object
      required:
        - type
        - status
        - simple_preview
      properties:
        type:
          type: string
          example: "TonTransfer"
          enum:
            - TonTransfer
            - JettonTransfer
            - NftItemTransfer
            - ContractDeploy
            - Subscribe
            - UnSubscribe
            - AuctionBid
            - NftPurchase
            - DepositStake
            - RecoverStake
            - STONfiSwap
            - SmartContractExec
            - Unknown
        status:
          type: string
          example: "ok"
          enum:
            - ok
            - failed
            - pending
        TonTransfer:
          $ref: '#/components/schemas/TonTransferAction'
        ContractDeploy:
          $ref: '#/components/schemas/ContractDeployAction'
        JettonTransfer:
          $ref: '#/components/schemas/JettonTransferAction'
        NftItemTransfer:
          $ref: '#/components/schemas/NftItemTransferAction'
        Subscribe:
          $ref: '#/components/schemas/SubscriptionAction'
        UnSubscribe:
          $ref: '#/components/schemas/UnSubscriptionAction'
        AuctionBid:
          $ref: '#/components/schemas/AuctionBidAction'
        NftPurchase:
          $ref: '#/components/schemas/NftPurchaseAction'
        DepositStake:
          $ref: '#/components/schemas/DepositStakeAction'
        RecoverStake:
          $ref: '#/components/schemas/RecoverStakeAction'
        STONfiSwap:
          $ref: '#/components/schemas/STONfiSwapAction'
        SmartContractExec:
          $ref: '#/components/schemas/SmartContractAction'
        simple_preview:
          $ref: '#/components/schemas/ActionSimplePreview'

    TonTransferAction:
      type: object
      required:
        - sender
        - recipient
        - amount
      properties:
        sender:
          $ref: '#/components/schemas/AccountAddress'
        recipient:
          $ref: '#/components/schemas/AccountAddress'
        amount:
          type: integer
          description: amount in nanotons
          format: int64
          example: 123456789
        comment:
          type: string
          example: "Hi! This is your salary. \nFrom accounting with love."
        encrypted_comment:
          $ref: '#/components/schemas/EncryptedComment'
        refund:
          $ref: '#/components/schemas/Refund'

    SmartContractAction:
      type: object
      required:
        - executor
        - contract
        - ton_attached
        - operation
      properties:
        executor:
          $ref: '#/components/schemas/AccountAddress'
        contract:
          $ref: '#/components/schemas/AccountAddress'
        ton_attached:
          type: integer
          description: amount in nanotons
          format: int64
          example: 123456789
        operation:
          type: string
          example: "NftTransfer or 0x35d95a12"
        payload:
          type: string
        refund:
          $ref: '#/components/schemas/Refund'

    NftItemTransferAction:
      type: object
      required:
        - nft
      properties:
        sender:
          $ref: '#/components/schemas/AccountAddress'
        recipient:
          $ref: '#/components/schemas/AccountAddress'
        nft:
          type: string
          example: ""
        comment:
          type: string
          example: "Hi! This is your salary. \nFrom accounting with love."
        encrypted_comment:
          $ref: '#/components/schemas/EncryptedComment'
        payload:
          type: string
          description: raw hex encoded payload
          example: '0234de3e21d21b3ee21f3'
        refund:
          $ref: '#/components/schemas/Refund'

    JettonTransferAction:
      type: object
      required:
        - amount
        - jetton
        - senders_wallet
        - recipients_wallet
      properties:
        sender:
          $ref: '#/components/schemas/AccountAddress'
        recipient:
          $ref: '#/components/schemas/AccountAddress'
        senders_wallet:
          type: string
          example: 0:E93E7D444180608B8520C00DC664383A387356FB6E16FDDF99DBE5E1415A574B
        recipients_wallet:
          type: string
          example: 0:E93E7D444180608B8520C00DC664383A387356FB6E16FDDF99DBE5E1415A574B
        amount:
          type: string
          description: amount in quanta of tokens
          example: 1000000000
        comment:
          type: string
          example: "Hi! This is your salary. \nFrom accounting with love."
        encrypted_comment:
          $ref: '#/components/schemas/EncryptedComment'
        refund:
          $ref: '#/components/schemas/Refund'
        jetton:
          $ref: '#/components/schemas/JettonPreview'

    ContractDeployAction:
      type: object
      required:
        - address
        - interfaces
      properties:
        address:
          type: string
          example: "0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf"
        interfaces:
          type: array
          items:
            type: string
          example: [ "nft_item", "nft_royalty" ]

    SubscriptionAction:
      type: object
      required:
        - subscriber
        - subscription
        - beneficiary
        - amount
        - initial
      properties:
        subscriber:
          $ref: '#/components/schemas/AccountAddress'
        subscription:
          type: string
          example: "0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf"
        beneficiary:
          $ref: '#/components/schemas/AccountAddress'
        amount:
          type: integer
          format: int64
          example: 1000000000
        initial:
          type: boolean
          example: false

    UnSubscriptionAction:
      type: object
      required:
        - subscriber
        - subscription
        - beneficiary
      properties:
        subscriber:
          $ref: '#/components/schemas/AccountAddress'
        subscription:
          type: string
          example: "0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf"
        beneficiary:
          $ref: '#/components/schemas/AccountAddress'

    AuctionBidAction:
      type: object
      required:
        - amount
        - beneficiary
        - bidder
        - auction_type
      properties:
        auction_type:
          type: string
          enum:
            - DNS.ton
            - DNS.tg
            - NUMBER.tg
            - getgems
        amount:
          $ref: '#/components/schemas/Price'
        nft:
          $ref: '#/components/schemas/NftItem'
        beneficiary:
          $ref: '#/components/schemas/AccountAddress'
        bidder:
          $ref: '#/components/schemas/AccountAddress'

    DepositStakeAction:
      type: object
      required:
        - amount
        - staker
      properties:
        amount:
          type: integer
          format: int64
          example: 1660050553
        staker:
          $ref: '#/components/schemas/AccountAddress'

    RecoverStakeAction:
      type: object
      required:
        - amount
        - staker
      properties:
        amount:
          type: integer
          format: int64
          example: 1660050553
        staker:
          $ref: '#/components/schemas/AccountAddress'

    STONfiSwapAction:
      type: object
      required:
        - amount_in
        - amount_out
        - user_wallet
        - stonfi_router
        - jetton_wallet_in
        - jetton_master_in
        - jetton_wallet_out
        - jetton_master_out
      properties:
        amount_in:
          type: string
          example: "1660050553"
        amount_out:
          type: string
          example: "1660050553"
        user_wallet:
          $ref: '#/components/schemas/AccountAddress'
        stonfi_router:
          $ref: '#/components/schemas/AccountAddress'
        jetton_wallet_in:
          type: string
          example: 0:dea8f638b789172ce36d10a20318125e52c649aa84893cd77858224fe2b9b0ee
        jetton_master_in:
          $ref: '#/components/schemas/JettonPreview'
        jetton_wallet_out:
          type: string
          example: 0:dea8f638b789172ce36d10a20318125e52c649aa84893cd77858224fe2b9b0ee
        jetton_master_out:
          $ref: '#/components/schemas/JettonPreview'

    NftPurchaseAction:
      type: object
      required:
        - amount
        - seller
        - buyer
        - auction_type
        - nft
      properties:
        auction_type:
          type: string
          enum:
            - DNS.tg
            - getgems
            - basic
        amount:
          $ref: '#/components/schemas/Price'
        nft:
          $ref: '#/components/schemas/NftItem'
        seller:
          $ref: '#/components/schemas/AccountAddress'
        buyer:
          $ref: '#/components/schemas/AccountAddress'

    ActionSimplePreview:
      type: object
      description: shortly describes what this action is about.
      required:
        - name
        - description
        - accounts
      properties:
        name:
          type: string
          example: "Ton Transfer"
        description:
          type: string
          example: "Transferring 5 Ton"
        action_image:
          type: string
          description: a link to an image for this particular action.
        value:
          type: string
          example: "5 Ton"
        value_image:
          type: string
          description: a link to an image that depicts this action's asset.
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountAddress'

    AccountEvent:
      type: object
      description: An event is built on top of a trace which is a series of transactions caused by one inbound message. TonAPI looks for known patterns inside the trace and splits the trace into actions, where a single action represents a meaningful high-level operation like a Jetton Transfer or an NFT Purchase. Actions are expected to be shown to users. It is advised not to build any logic on top of actions because actions can be changed at any time.
      required:
        - event_id
        - timestamp
        - actions
        - account
        - is_scam
        - lt
        - in_progress
        - extra
      properties:
        event_id:
          type: string
          example: e8b0e3fee4a26bd2317ac1f9952fcdc87dc08fdb617656b5202416323337372e
        account:
          $ref: '#/components/schemas/AccountAddress'
        timestamp:
          type: integer
          format: int64
          example: 1234567890
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Action'
        is_scam:
          type: boolean
          description: scam
          example: false
        lt:
          type: integer
          format: int64
          example: 25713146000001
        in_progress:
          type: boolean
          example: false
          description: Event is not finished yet. Transactions still happening
        extra:
          description: TODO
          type: integer
          format: int64
          example: 3

    AccountEvents:
      type: object
      required:
        - events
        - next_from
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/AccountEvent'
        next_from:
          type: integer
          format: int64
          example: 25713146000001

    TraceId:
      type: object
      required:
        - id
        - utime
      properties:
        id:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        utime:
          type: integer
          format: int64
          example: 1645544908

    TraceIds:
      type: object
      required:
        - traces
      properties:
        traces:
          type: array
          items:
            $ref: '#/components/schemas/TraceId'

    ApyHistory:
      type: object
      required:
        - apy
        - time
      properties:
        apy:
          type: number
        time:
          type: integer

    Subscription:
      type: object
      required:
        - address
        - wallet_address
        - beneficiary_address
        - amount
        - period
        - start_time
        - timeout
        - last_payment_time
        - last_request_time
        - subscription_id
        - failed_attempts
      properties:
        address:
          type: string
          example: 0:dea8f638b789172ce36d10a20318125e52c649aa84893cd77858224fe2b9b0ee
        wallet_address:
          type: string
          example: 0:567DE86AF2B6A557D7085807CF7C26338124987A5179344F0D0FA2657EB710F1
        beneficiary_address:
          type: string
          example: 0:c704dadfabac88eab58e340de03080df81ff76636431f48624ad6e26fb2da0a4
        amount:
          type: integer
          format: int64
          example: 1000000000
        period:
          type: integer
          format: int64
          example: 2592000
        start_time:
          type: integer
          format: int64
          example: 1653996832
        timeout:
          type: integer
          format: int64
          example: 10800
        last_payment_time:
          type: integer
          format: int64
          example: 1653996834
        last_request_time:
          type: integer
          format: int64
          example: 0
        subscription_id:
          type: integer
          format: int64
          example: 217477
        failed_attempts:
          type: integer
          format: int32
          example: 0

    Subscriptions:
      type: object
      required:
        - subscriptions
      properties:
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'

    Auction:
      type: object
      required:
        - domain
        - owner
        - price
        - bids
        - date
      properties:
        domain:
          type: string
          example: wallet.ton
        owner:
          type: string
          example: owner
        price:
          type: integer
          format: int64
          example: 1660050553
        bids:
          type: integer
          format: int64
          example: 1660050553
        date:
          type: integer
          format: int64
          example: 1660050553

    Auctions:
      type: object
      required:
        - data
        - total
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Auction'
        total:
          type: integer
          format: int64
          example: 1660050553

    WalletDNS:
      type: object
      required:
        - address
        - is_wallet
        - has_method_pubkey
        - has_method_seqno
        - names
      properties:
        address:
          type: string
          example: "0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf"
        is_wallet:
          type: boolean
          example: true
        has_method_pubkey:
          type: boolean
          example: true
        has_method_seqno:
          type: boolean
          example: true
        names:
          type: array
          items:
            type: string
            example: "name"
    DomainInfo:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        expiring_at:
          type: integer
          description: date of expiring. optional. not all domain in ton has expiration date
        item:
          $ref: '#/components/schemas/NftItem'
    DnsRecord:
      type: object
      required:
        - sites
      properties:
        wallet:
          $ref: '#/components/schemas/WalletDNS'
        next_resolver:
          type: string
          example: "0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf"
        sites:
          type: array
          items:
            type: string
            example: "http://12234.ton"
        storage:
          type: string
          description: "tonstorage bag id"
          example: "da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf"

    NftCollection:
      type: object
      required:
        - address
        - next_item_index
        - raw_collection_content
      properties:
        address:
          type: string
          example: 0:FD595F36B4C1535BEC8461490D38EBB9AE3C38DD6ACE17CA63ABE2C6608BE159
        next_item_index:
          type: integer
          format: int64
          example: 1
        owner:
          $ref: '#/components/schemas/AccountAddress'
        raw_collection_content:
          type: string
          example: 697066733a2f2f516d596e437861746f5178433571584b79773971656768415853626f3544644e6a32387631487669437a47355359
        metadata:
          type: object
          additionalProperties: true
          example: { }

    NftCollections:
      type: object
      required:
        - nft_collections
      properties:
        nft_collections:
          type: array
          items:
            $ref: '#/components/schemas/NftCollection'

    Trace:
      type: object
      required:
        - transaction
        - interfaces
      properties:
        transaction:
          $ref: '#/components/schemas/Transaction'
        interfaces:
          type: array
          items:
            type: string
          example: [ "wallet", "tep62_item" ]
        children:
          type: array
          items:
            $ref: '#/components/schemas/Trace'

    MessageConsequences:
      type: object
      required:
        - trace
        - risk
        - event
      properties:
        trace:
          $ref: '#/components/schemas/Trace'
        risk:
          $ref: '#/components/schemas/Risk'
        event:
          $ref: '#/components/schemas/AccountEvent'

    Risk:
      type: object
      description: Risk specifies assets that could be lost if a message would be sent to a malicious smart contract. It makes sense to understand the risk BEFORE sending a message to the blockchain.
      required:
        - transfer_all_remaining_balance
        - ton
        - jettons
        - nfts
      properties:
        transfer_all_remaining_balance:
          type: boolean
          description: transfer all the remaining balance of the wallet.
          example: true
        ton:
          type: integer
          format: int64
          example: 500
        jettons:
          type: array
          items:
            $ref: '#/components/schemas/JettonQuantity'
        nfts:
          type: array
          items:
            $ref: '#/components/schemas/NftItem'

    JettonQuantity:
      type: object
      required:
        - quantity
        - wallet_address
        - jetton
      properties:
        quantity:
          type: string
          example: 597968399
        wallet_address:
          $ref: '#/components/schemas/AccountAddress'
        jetton:
          $ref: '#/components/schemas/JettonPreview'

    Event:
      type: object
      required:
        - event_id
        - timestamp
        - actions
        - fees
        - value_flow
        - is_scam
        - lt
        - in_progress
      properties:
        event_id:
          type: string
          example: e8b0e3fee4a26bd2317ac1f9952fcdc87dc08fdb617656b5202416323337372e
        timestamp:
          type: integer
          format: int64
          example: 1234567890
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Action'
        value_flow:
          type: array
          items:
            $ref: '#/components/schemas/ValueFlow'
        is_scam:
          type: boolean
          description: scam
          example: false
        lt:
          type: integer
          format: int64
          example: 25713146000001
        in_progress:
          type: boolean
          example: false
          description: Event is not finished yet. Transactions still happening

    JettonMetadata:
      type: object
      required:
        - address
        - name
        - symbol
        - decimals
      properties:
        address:
          type: string
          example: 0:0BB5A9F69043EEBDDA5AD2E946EB953242BD8F603FE795D90698CEEC6BFC60A0
        name:
          type: string
          example: Wrapped TON
        symbol:
          type: string
          example: WTON
        decimals:
          type: string
          example: "9"
        image:
          type: string
          example: "https://cache.tonapi.io/images/jetton.jpg"
        description:
          type: string
          example: Wrapped Toncoin
        social:
          type: array
          items:
            type: string
            example: [ "https://t.me/durov_coin", "https://twitter.com/durov_coin" ]
        websites:
          type: array
          items:
            type: string
            example: [ "https://durov.coin", "ton://durov-coin.ton" ]
        catalogs:
          type: array
          items:
            type: string
            example: [ "https://coinmarketcap.com/currencies/drv/", "https://www.coingecko.com/en/coins/durov" ]
    Jettons:
      type: object
      required:
        - jettons
      properties:
        jettons:
          type: array
          items:
            $ref: '#/components/schemas/JettonInfo'
    JettonInfo:
      type: object
      required:
        - mintable
        - total_supply
        - metadata
        - verification
      properties:
        mintable:
          type: boolean
          example: true
        total_supply:
          type: string
          example: 311500000000000
        metadata:
          $ref: '#/components/schemas/JettonMetadata'
        verification:
          $ref: '#/components/schemas/JettonVerificationType'
    AccountStaking:
      type: object
      required:
        - pools
      properties:
        pools:
          type: array
          items:
            $ref: '#/components/schemas/AccountStakingInfo'
    AccountStakingInfo:
      type: object
      required:
        - pool
        - amount
        - pending_deposit
        - pending_withdraw
        - ready_withdraw
      properties:
        pool:
          type: string
          example: "EQBI-wGVp_x0VFEjd7m9cEUD3tJ_bnxMSp0Tb9qz757ATEAM"
        amount:
          type: integer
          format: int64
          example: 10050000000000
        pending_deposit:
          type: integer
          format: int64
          example: 500000000000
        pending_withdraw:
          type: integer
          format: int64
          example: 500000000000
        ready_withdraw:
          type: integer
          format: int64
          example: 500000000000
    PoolInfo:
      type: object
      required:
        - address
        - total_amount
        - implementation
        - apy
        - name
        - min_stake
        - cycle_start
        - cycle_end
        - verified
        - current_nominators
        - max_nominators
      properties:
        address:
          type: string
          example: "0:48fb0195a7fc7454512377b9bd704503ded27f6e7c4c4a9d136fdab3ef9ec04c"
        name:
          type: string
          example: "Tonkeeper pool"
        total_amount:
          type: integer
          format: int64
        implementation:
          type: string
          enum:
            - whales
            - tf
            - liquidTF
        apy:
          type: number
          description: APY in percent
          example: 5.31
        min_stake:
          type: integer
          format: int64
          example: 5000000000
        cycle_start:
          type: integer
          description: current nomination cycle beginning timestamp
          format: int64
          example: 1678223064
        cycle_end:
          type: integer
          description: current nomination cycle ending timestamp
          format: int64
          example: 1678223064
        verified:
          type: boolean
          example: true
          description: this pool has verified source code or managed by trusted company
        current_nominators:
          type: integer
          example: 10
          description: current number of nominators
        max_nominators:
          type: integer
          example: 100
          description: maximum number of nominators
        liquid_jetton_master:
          type: string
          example: "0:4a91d32d0289bda9813ae00ff7640e6c38fdce76e4583dd6afc463b70c7d767c"
          description: "for liquid staking master account of jetton"
    PoolImplementation:
      type: object
      required:
        - name
        - description
        - url
      properties:
        name:
          type: string
          example: TON Whales
        description:
          type: string
          example: "Oldest pool with minimal staking amount 50 TON"
        url:
          type: string
          example: "https://tonvalidators.org/"
    StorageProvider:
      type: object
      required:
        - address
        - accept_new_contracts
        - rate_per_mb_day
        - max_span
        - minimal_file_size
        - maximal_file_size
      properties:
        address:
          type: string
          example: 0:FD595F36B4C1535BEC8461490D38EBB9AE3C38DD6ACE17CA63ABE2C6608BE159
        accept_new_contracts:
          type: boolean
          example: true
        rate_per_mb_day:
          type: integer
          format: int64
          example: 50000000
        max_span:
          type: integer
          format: int64
          example: 604800
        minimal_file_size:
          type: integer
          format: int64
          example: 64
        maximal_file_size:
          type: integer
          format: int64
          example: 10485760
    
    FoundAccounts:
      type: object
      required:
        - addresses
      properties:
        addresses:
          type: array
          items:
            type: object
            required:
              - address
              - name
            properties:
              address:
                type: string
                example: "0:010cеeac44fad23417a5c55e4071796868771082с9a61e8c195a8d57508b8471"
              name:
                type: string
                example: "blah_blah.ton"
    
    DnsExpiring:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            type: object
            required:
              - expiring_at
              - name
            properties:
              expiring_at:
                type: integer
                format: int64
                example: "1678275313"
              name:
                type: string
                example: "blah_blah.ton"
              dns_item:
                $ref: '#/components/schemas/NftItem'
    AccountInfoByStateInit:
      type: object
      required:
        - public_key
        - address
      properties:
        public_key:
          type: string
          example: "NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2ODQ3..."
        address:
          type: string
          example: "0:97146a46acc2654y27947f14c4a4b14273e954f78bc017790b41208b0043200b"
    Seqno:
      type: object
      required:
        - seqno
      properties:
        seqno:
          type: integer
          format: uint32
    BlockRaw:
      type: object
      required:
        - workchain
        - shard
        - seqno
        - root_hash
        - file_hash
      properties:
        workchain:
          type: integer
          example: 4294967295
          format: uint32
        shard:
          type: integer
          example: 9223372036854775808
          format: uint64
        seqno:
          type: integer
          example: 30699640
          format: uint32
        root_hash:
          type: string
          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        file_hash:
          type: string
          example: A6A0BD6608672B11B79538A50B2204E748305C12AA0DED9C16CF0006CE3AF8DB
    InitStateRaw:
      type: object
      required:
        - workchain
        - root_hash
        - file_hash
      properties:
        workchain:
          type: integer
          example: 4294967295
          format: uint32
        root_hash:
          type: string
          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        file_hash:
          type: string
          example: A6A0BD6608672B11B79538A50B2204E748305C12AA0DED9C16CF0006CE3AF8DB
    EncryptedComment:
      type: object
      required:
        - encryption_type
        - cipher_text
      properties:
        encryption_type:
          type: string
          example: "simple"
        cipher_text:
          type: string
          example: "A6A0BD6608672B...CE3AF8DB"

  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string
    InternalError:
      description: Something went wrong on server side
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string
    BadRequest:
      description: Something went wrong on client side
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string
    UnauthorizedError:
      description: Access token is missing or invalid
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string